* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(255, 47, 120);
}

body {
  height: 100vh;
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 18px;
}

/* Header Section */
.navbar {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
}

#hamburgerMenu {
  display: none;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -3px;
}

.logo span {
  color: var(--primary-color);
}

.logo .logo-highlights {
  color: black;
}

.nav-links {
  display: flex;
  gap: 25px;
  font-size: 17px;
  font-weight: 600;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 4px 6px;
  border-radius: 3px;
}

.nav-link:hover {
  color: var(--primary-color);
  background-color: rgba(128, 128, 128, 0.302);
}

.nav-icons {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 22px;
  color: rgb(48, 37, 41);
  font-weight: 500;
  cursor: pointer;
}

#cartIcon {
  position: relative;
}

.cart-icon i {
  height: 100%;
  width: 100%;
}

.cart-count {
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 47, 120);
  border-radius: 50%;
}

/* Hero Section */
.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}

.hero-title {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -2px;
}

.hero-description {
  font-size: 18px;
  color: rgb(95, 95, 95);
}

.hero-btn {
  text-decoration: none;
}

.hero-image {
  max-width: 50%;
}

.hero-image img {
  height: 100%;
  width: 100%;
}

/* Company Section */
.companies {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.companies img {
  width: 90%;
  height: 45px;
}

/* Product section */
.products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.products h2 {
  font-size: 35px;
  margin: 50px 0 20px;
}

.product-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
}

.product-title {
  font-size: 26px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}

.product-price {
  font-size: 20px;
  font-weight: 600;
  color: rgb(76, 76, 76);
}

.rating {
  color: rgb(255, 146, 4);
  display: flex;
  gap: 1px;
  justify-content: left;
  align-items: center;
  font-size: 12px;
}

.rating .rating-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(72, 70, 70);
  padding-top: 2px;
  margin-left: 6px;
}

.product-details {
  color: rgb(95, 95, 95);
  font-weight: 500;
  font-size: 18px;
}

.products a {
  position: absolute;
  bottom: 10px;
  right: 150px;
  color: var(--primary-color);
  font-size: 18px;
}

/* Feature Section */
.feature {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.feature-image {
  width: 45%;
}

.feature-image img {
  width: 100%;
}

.feature-details {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}

.feature-title {
  font-size: 40px;
  color: rgb(72, 70, 70);
}

.feature-description {
  font-size: 16px;
  width: 95%;
  color: rgb(95, 95, 95);
}

.feature-btn {
  border: none;
}

/* Footer Section */
footer {
  background-color: rgb(0, 0, 34);
  color: white;
  width: 100%;
  overflow: hidden;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
}

.footer-logo {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 10px;
}

.footer-logo span {
  color: var(--primary-color);
}

.footer-logo .footer-logo-highlights {
  color: white;
}

small {
  color: rgb(176, 176, 176);
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  background-color: var(--primary-color);
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}
/* Responsive for Medium Devices */
@media screen and (max-width: 992px) {
  #searchIcon,
  .logo-highlights {
    display: none;
  }

  .hero {
    gap: 10px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-title {
    font-size: 40px;
  }

  .companies {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .image6 {
    grid-column: span 2;
  }

  .product-cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  .last-card {
    display: none;
  }

  .products h2 {
    font-size: 35px;
    margin: 20px 0;
  }

  .products a {
    bottom: 0;
    right: 120px;
    margin: 0 auto;
  }

  .feature-title {
    font-size: 30px;
  }

  .feature-description {
    font-size: 15px;
  }
}

/* Responsive for Small Devices */
@media screen and (max-width: 600px) {
  #hamburgerMenu {
    display: block;
  }

  .nav-links,
  #searchIcon {
    display: none;
  }

  .hero,
  .feature {
    display: flex;
    gap: 35px;
    flex-direction: column-reverse;
    padding: 35px 20px;
  }

  .hero-details,
  .feature-details {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .hero-description {
    font-size: 16px;
    text-align: center;
  }
  .hero-title {
    font-size: 40px;
    text-align: center;
  }

  .hero-image {
    max-width: 100%;
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }

  .product-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .last-card {
    display: block;
  }

  .feature-image {
    width: 100%;
  }

  .feature-title {
    font-size: 30px;
    text-align: center;
    width: 90%;
  }

  .feature-description {
    font-size: 15px;
    text-align: center;
  }
}
