* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.btn-2 {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
  color: orangered;
  font-size: 17px;
}

header {
  margin: 0 auto;
}

header nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}

.nav-logo {
  font-size: 45px;
  font-weight: 900;
}

.nav-logo span {
  color: orangered;
}

nav .nav-menu {
  display: flex;
  gap: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: orangered;
  padding: 10px 20px;
  border: 1px solid orangered;
  border-radius: 4px;
}

.banner-section {
  position: relative;
  height: 600px;
  width: 1400px;
  margin: 0 auto;
  background-image: url(../images/banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section .banner-details {
  height: 600px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-width: 1140px;
  margin: 0 auto;
  text-align: right;
}

.banner-details .banner-title {
  width: 50%;
  font-size: 65px;
  font-weight: 600;
  color: rgb(35, 35, 35);
}

.banner-details .banner-description {
  width: 40%;
  font-size: 17px;
  font-weight: 500;
  color: rgb(75, 75, 75);
}

.btn {
  background-color: orangered;
  color: white;
  border: 0;
  padding: 13px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* Failure section */

.failure-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding: 100px 0;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}

.failure-container .failure-image {
  width: 45%;
}

.failure-image img {
  width: 100%;
}

.failure-container .failure-details {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 45%;
}

.failure-details .failure-title {
  font-size: 45px;
  font-weight: 900;
}

.failure-details .failure-description {
  font-size: 18px;
  color: rgb(103, 103, 103);
}

.failure-details .failure-list li {
  list-style: none;
  display: flex;
  gap: 15px;
  text-align: center;
  font-size: 16px;
}

/* Plan section */
.plan-section .plan-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.plan-container h2 {
  margin: 0 auto;
  font-size: 45px;
}

.plan-container .plan-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-cards .plan-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}

.plan-card img {
  width: 50px;
}

.plan-card h4 {
  font-size: 22px;
  font-weight: bold;
}

.plan-card p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(89, 89, 89);
}

/* Mindset section */
.mindset-container {
  max-width: 1140px;
  height: 280px;
  margin: 50px auto 80px;
  background-image: url(../images/gradient2.png), url(../images/watch.png);
  background-position: center;
  background-size: cover;
  filter: opacity(0.9);
  border-radius: 10px;
  display: flex;
}

.mindset-details {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  margin: 45px;
}

.mindset-details h3 {
  font-size: 45px;
  font-weight: 700;
  color: white;
}

/* Footer Section */
footer {
  background-color: black;
  color: white;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  padding: 70px 0;
  justify-content: space-between;
}

.footer-details {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 40%;
}

.footer-details h3 {
  font-size: 30px;
  font-weight: 600;
}

.footer-details p {
  font-size: 15px;
  color: rgb(212, 212, 212);
}

.social-icon {
  display: flex;
  gap: 10px;
}

.social-icon img {
  width: 35px;
  height: 35px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
  justify-content: center;
  align-items: flex-start;
}

.footer-form h4 {
  font-size: 20px;
  font-weight: 500;
}

.footer-form input {
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
  font-size: 17px;
}
