* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: white;
}

/* Shared Styles */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: #32915a;
  color: white;
  font-size: 16px;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  margin: 0 150px;
}

/* Header Section */
header {
  background-color: white;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 0 150px;
}

.navbar .logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links li a {
  font-size: 16px;
  font-weight: 500;
}

/* Hero Section */

.hero-section {
  width: 100%;
  background: url(./assets/hero-bg.png);
}

.hero-section .container {
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.hero-section .hero-access {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #1c8421;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.hero-access .outer-circle {
  background-color: rgb(195, 249, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.hero-access .middle-circle {
  background-color: rgba(81, 174, 81, 0.674);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.hero-access .inner-circle {
  background-color: rgba(34, 148, 34, 0.655);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.hero-section .hero-title {
  color: white;
  font-size: 45px;
}

.hero-section .hero-description {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.hero-section .hero-btn {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.hero-btn button {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

/* Details Section */

.details-section {
  padding: 50px 0;
  background-color: white;
}

.details-section .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.details-section .details-title-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.details-title-description h2 {
  font-size: 38px;
  font-weight: 700;
}

.details-title-description p {
  font-size: 18px;
}

.details-section .details-cards {
  display: flex;
  gap: 35px;
  margin: 15px 0;
  justify-content: space-around;
}

.details-cards .details-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.486);
  padding: 15px;
}

.details-card .details-card-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 108, 108);
  margin-top: 50px;
  margin-bottom: 10px;
}

.details-card-icon img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
}

.details-card h3 {
  font-size: 22px;
}

.details-card p {
  font-size: 17px;
  text-align: center;
  margin-bottom: 55px;
}

/* Brain Section */

.brain-section {
  padding: 50px 0;
  background-color: white;
}

.brain-section .container {
  display: flex;
  gap: 70px;
}

.brain-left-section img {
  height: 580px;
}

.brain-section .brain-right-section {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
}

.brain-right-section p {
  font-size: 17px;
  font-weight: 500;
  color: #05ab02;
}

.brain-right-section p:nth-child(3) {
  color: rgb(96, 95, 95);
  margin-bottom: 20px;
}

.brain-right-section .brain-title {
  font-size: 45px;
  font-weight: 800;
}

.brain-right-section .brain-lists {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.brain-lists li {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

/* Think Section */
.think-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-color: white;
}

.think-section .container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.think-section .think-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.think-left h2 {
  font-size: 42px;
  font-weight: 800;
}

.think-left p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(77, 77, 77);
  text-align: center;
}
.think-right .btn {
  display: flex;
  gap: 20px;
  margin: o auto;
}

.think-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.think-right p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(77, 77, 77);
  text-align: center;
}

/* Footer Section */

.footer-section {
  background-color: rgb(2, 0, 33);
  color: white;
  margin-top: 20px;
}

.footer-section .container {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 60px 0px 30px 0;
}

.container .top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-footer .logo {
  height: 50px;
}

.top-footer .social-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-links .social-links-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.social-links-icons {
  display: flex;
  gap: 15px;
  margin: 0 auto;
}

.social-links a {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.social-links a i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(198, 198, 198);
  padding-top: 20px;
}
